@font-face {
    font-family: "my-project-font";
    src: url("fonts/anandablackpersonaluseregular-rg9rx-webfont.woff") format("woff"),
    url("fonts/anandablackpersonaluseregular-rg9rx-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    font-family: sans-serif;
    flex: 1;
    flex-wrap: wrap;
}

.left {
    background: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
}

.header, .main-form, .log-in {
    /* border: 2px solid black; */
    flex: auto;
    padding: 30px;
    padding-right: 20%;
}

.credit{
    color: rgb(178, 178, 178);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

.header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #eee;
    line-height: 1.5;
    padding-bottom: 50px;

}

.headerText {
    padding-bottom: 20px;
}

.for-left {
    flex: 1;
    /* border: 2px solid red; */
}

.logoContainer {
    background: black;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 4rem "my-project-font", monospace;
    color: white;
}

img {
    width: 100px;
    height: 120px;
    /* border: 2px solid red; */
}


.main-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 2px 10px rgb(173, 171, 171);
    gap: 20px;
}

.theForm, h2 {
    /* border: 2px solid black; */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputsAndLabels{
    /* border: 2px solid black; */
    flex: 1;
    display: flex;
    gap: 50px;
}

.inputsAndLabels div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

label{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.2em;
}

input{
    border: thin solid #E5E7EB;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
}

input:focus{
    box-shadow: 2px 2px 2px rgb(187, 187, 187);
    outline: none;
}

input:focus:valid {
    border: 1px solid blue;
}


input:invalid {
    border: 1px solid red;
}


/* for error message */
.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: small;
    height: 30px;
}

/* styling for log in section */
.log-in {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 35vh;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background-color: #596D48;
    font-weight: bold;
    color: white;
    border: none;
}

button:hover {
    background-color: #739654;
}

button:active {
    background-color: #656c5f;
}

a {
    color: #739654;
}

a:hover {
    color:rgb(187, 187, 187);
}

a:active {
    color: #596D48;
}